# ----- Sistema -----
.DS_Store
Thumbs.db
*.log

# ----- IDE -----
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# ----- Node / frontend -----
node_modules/
dist/

# ----- Java / backend -----
target/
*.class

# ----- Entornos y secretos -----
.env
application-local.yml
application-local.properties
